name: CPP_CI
on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build
        run: g++ main.cpp -o app_test

      - name: Test
        run: ./app_test
